# A1

### `\t` (Tabstopp): 
- aktuelle Zelle ausfüllen
- Cursor springt zur nächsten Zelle.

In [21]:
print("S1\tS2\tS3")
print("Apple\tBanana\tCherry")

S1	S2	S3
Apple	Banana	Cherry

### Miniprogramm mit Beispieleingaben 5 9

Erste Zeile

In [1]:
print("\t",end="")
for x in range(5, 9+1):
    print(x, end="\t")
print()

	5	6	7	8	9

Ab 2. Zeile

In [23]:
print("\t",end="")
for x in range(5, 9+1):
    print(x, end="\t")
print()
# 2. Zeile
print(5, end="\t")
for  in range(5, 9+1):
    print(5*col, end="\t")
print()


# 3. Zeile

print(6, end="\t")
for col in range(5, 9+1):
    print(6*col, end="\t")
print()

# 4,5,6. Zeile ...

	5	6	7	8	9
5	25	30	35	40	45
6	30	36	42	48	54

#### In eine Funktion einpacken

In [27]:
def print_row(row):
    print(row, end="\t")
    for col in range(5, 10):
        print(row*col, end="\t")
    print()


print_row(row=7)

7	35	42	49	56	63

In [29]:
print("\t",end="")
for x in range(5, 9+1):
    print(x, end="\t")
print()
for row in range(5, 10):
    print_row(row=row)

	5	6	7	8	9
5	25	30	35	40	45
6	30	36	42	48	54
7	35	42	49	56	63
8	40	48	56	64	72
9	45	54	63	72	81

### Lösung mit Bespieleingabe 5 9 (Funktion-Version)

In [ ]:
import sys

a = int(sys.argv[1])
b = int(sys.argv[2])


def print_row(row):
    print(row, end="\t")
    for col in range(a, b+1):
        print(row*col, end="\t")
    print()


print("\t", end="")

for x in range(a, b+1):
    print(x, end="\t")
print()

for row in range(a, b+1):
    print_row(row=row)

### Lösung mit Bespieleingabe 5 9

In [ ]:
import sys

a = int(sys.argv[1])
b = int(sys.argv[2])

print("\t", end="")

for x in range(a, b+1):
    print(x, end="\t")
print()

for row in range(a, b+1):
    print(row, end="\t")
    for col in range(a, b+1):
        print(row*col, end="\t")
    print()

# A2

```python
l = [42,True,"Python",[],None]


```
| 42 | <b>True</b> | "Python" | [] | None |
|----|----|----|----|----|
|`l[0]`|`l[1]`|`l[2]`|`l[3]`|`l[4]`|
|`l[-5]`|`l[-4]`|`l[-3]`|`l[-2]`|`l[-1]`|

In [31]:
l = ["Apple","Banana","Cherry","Date","Elderberry"]

l[0]

'Apple'

In [33]:
# l[7]

In [ ]:
l[-2]

'Date'

In [ ]:
# l[-7]

# A3

### Dreihereihe von 3 bis 30 einschließlich erstellen

In [34]:
a = list(range(3, 31, 3))
a

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

- Negative Werte als Argument 3. Parameter in `range()` Funktion => Umkehren

In [ ]:
a = list(range(30, 0, -3))
a

[30, 27, 24, 21, 18, 15, 12, 9, 6, 3]

### Nicht-inplace Umkehren

```python
list.append()
```
- 1 Element **am Ende** der Liste hinzufügen

In [ ]:
a = list(range(3, 31, 3))
b = []
for i in range(len(a)):
    b.append(a[-i-1])
print(b)

[30, 27, 24, 21, 18, 15, 12, 9, 6, 3]

In [ ]:
a = list(range(3, 31, 3))
b = []
for i in range(len(a)-1, -1, -1):
    b.append(a[i])

b

[30, 27, 24, 21, 18, 15, 12, 9, 6, 3]

### Inplace Umkehren
- inplace: Datenstruktur wird direkt geändert, kein zusätzlicher Platz notwendig

In [ ]:
l = list(range(3, 31, 3))

for i in range(len(l) // 2):
    temp = l[i]
    l[i] = l[-i-1]
    l[-i-1] = temp

for e in l:
    print(e)

### Swap Funktion (inplace)

In [ ]:
def normal_swap(i, j, a):
    temp = a[i]
    a[i] = a[j]
    a[j] = temp

### schöne Alternative mit "Tuple entpacken"

In [ ]:
1, 2  # Syntax Sugar => (1,2)

(1, 2)

In [ ]:
x = 42
y = 7
x, y = y, x  # Swap the values of x and y
x, y

(7, 42)

In [ ]:
x, y = None, True   # erneut zuweisen
x, y

(None, True)

In [ ]:
def swap_with_tuple_unpacking(i, j, a):
    a[i], a[j] = a[j], a[i]

### Lösung (Funktion-Version)

In [35]:
l = list(range(3, 31, 3))

for i in range(len(l) // 2):
    l[i], l[-i-1] = l[-i-1], l[i]

for e in l:
    print(e)

30
27
24
21
18
15
12
9
6
3